[loggers]
keys=root

[handlers]
keys=consoleHandler

[formatters]
keys=loggerFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_ProtoLoader]
level=DEBUG
handlers=consoleHandler

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=loggerFormatter
args=(sys.stdout,)

[formatter_loggerFormatter]
format=%(asctime)s [%(name)-18.18s] [%(levelname)-4.4s]  %(message)s